body {
  background-color: rgb(43, 45, 47);
}

section {
  color: white;
}

.card-body {
  text-align: center;
}

.navbar-brand {
  text-align: center;
}

.form-control-plaintext {
  color: white;
}

.btn {
  border-color: white;
}

.btn-link {
  color: white;
}

#accordion {
  display: flex;
  padding-top: 5%;
  text-align: center;
  background-color: rgb(43, 45, 47);
}

.task-button {
  display: flex;
  padding-top: 10%;
}

.due-date-name {
  color: black;
}

.due-date {
  padding-left: 4%;
}

.collapsed {
  width: 30%;
}

.form-box {
  padding-bottom: 1%;
}
