body {
    background-color: rgb(43, 45, 47)
}

section {
    color: white;
}

#task-body {
    padding-top: 3%;
    padding-bottom: 3%;
}

.card-body {
    text-align: center;
}

.navbar-brand {
    padding-right: 30%;
}

.form-control-plaintext {
    color:white;
}

.btn {
    border-color: black;
}

.btn-link {
    color: white;
}

#accordion{
    text-align: center;
    background-color: rgb(43, 45, 47)
}


